
@import "../../aliases.scss";


html, body, #root {
  height: 100%;
}

.cursor__pointer {
  cursor: pointer;
}

.overflow {
  &__hidden {
    overflow: hidden;
  }
  &__auto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/*.Header {
  position: fixed !important;
  height: 58px;
  width: 100%;
  z-index: 1;
}

.Content {
  margin-top: 58px;
}*/

.scroll-theme {
  &-light, &-dark {
    ::-webkit-scrollbar {
      width: $scroll-10;
      &-track {
        box-shadow: inset 0 0 6px $track-color;
        border-radius: $scroll-10;
      }
      &-thumb {
        box-shadow: inset 0 0 6px $thumb-color;
        border-radius: $scroll-10;
      }
    }
  }
  &-dark {
    ::-webkit-scrollbar-thumb {
      background-color: $warning-color;
    }
  }
}

.transition {
  transition-property: color, background-color;
  transition-duration: 0.5s;
}

.bg{
  &-emerald {
    background-color: $warning-emerald;
  }
  &-dark-green {
    background-color: $warning-dark-green !important;
  }
}