html, body, #root {
  height: 100%;
}

.cursor__pointer {
  cursor: pointer;
}

.overflow{
  &__hidden {
    overflow: hidden;
  }
  &__auto {
    overflow: auto;
  }
}

.transition-duration__05 {
  transition-duration: 0.5s;
}

.bg{
  &-emerald {
    background-color: #22424d;
  }
  &-dark-green {
    background-color: #012c3f !important;
  }
}